@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --primary: #c41230;
  --secondary: #26ab8c;
  --text: #231f20;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text);
  background: (var(--background));
}
.shadow {
  box-shadow: 0 0 20px 1px #ececec;
}
.custom-input-number {
  border: none;
  outline: none;
  width: 60px;
}
.custom-input-number:focus {
  outline: none;
  border: none;
}
